h2{

}

.navbar {
    margin-bottom: 0;
}

.project{
	margin-bottom: 30px;
	background-color: white;
}



.description{
	margin: 0 39.5px 20px 0 ;
}

.introHeight{
	height: 390px;
}

.centerThis{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.container{
	/*width: 960px;*/
}

img{
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

.intro{
	background-color: #B1B1B1;
	padding: 50px 0;
	font-size: 1.5em;
}

#projects{
	background-color: #B1B1B1;
	margin-bottom: 30px;
	padding: 20px 0;
	font-size: 1.1em;
}

#projects h1{
	margin: 15px 0;
}

.project{
	font-size: 1.1em;
}

.skillShowcase li{
	background: #D4D4D4;
	font-size: 1em;
	margin: 5px 2px;
	padding: 5px 10px;
	border-radius: 5px;
}

#skills{
	padding: 40px 0;
	/*background-color: red;*/
}

#skills li{
	background: #D4D4D4;
	font-size: 1.5em;
	margin: 5px 2px;
	padding: 5px 10px;
	border-radius: 5px;
}

footer {
   background-color:#B1B1B1;
   min-height: 50px;
   text-align: center;
}

#contact{
	padding: 20px 0;
	border-top: 5px solid #B1B1B1 ;
}