
.navbar {
    margin-bottom: 0;
}

a{
	color: #236E72;
}


a:hover{
	color: #236E72;
}

img{
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

#intro{
	background-color: #4CAF50;
	color: #fff;
	padding: 50px 0;
	font-size: 1.5em;
}

#skills{
	padding: 40px 0;
	color: #424743;
	background: #fff;
}

#skills li{
	background: #97C7C9;
	font-size: 1.5em;
	margin: 5px 2px;
	padding: 5px 10px;
	border-radius: 3px;
}

#projectsIntro{
	background-color: #4CAF50;
	color: #fff;
	margin-bottom: 30px;
	padding: 20px 0;
	font-size: 1.1em;
}

#projectsIntro h1{
	margin: 15px 0;
}

.project{
	margin-bottom: 30px;
	background-color: white;
	font-size: 1.1em;
	color: #424743;
}

.skillShowcase li{
	background: #97C7C9;
	font-size: 1em;
	margin: 5px 2px;
	padding: 5px 10px;
	border-radius: 3px;
}

#contact{
	padding: 20px 0;
	border-top: 5px solid #4CAF50 ;
}

footer {
   background-color:#4CAF50;
   min-height: 50px;
   text-align: center;
}


@media only screen and (max-width: 991px) {
	h2{
		margin-bottom: 20px;
	}
	img{
		margin-bottom: 15px;
	}
}