
*{
	font-family: 'Karla', sans-serif;
}

h1, h2{
	font-family: 'Merriweather', serif;
}

.navbar {
    margin-bottom: 0;
}



a:hover{
	color: #236E72;
}

img{
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

#intro{
	background-color: #4CAF50;
	color: #fff;
	padding: 50px 0;
	font-size: 1.4em;
}

#intro a{
	color: #B44E86;
	text-decoration: underline;
}

#intro img{
	margin-top: 30px;
}

.icons{
	font-size: 3.1em;
}

#intro .icons a{
	color: #fff;
}

#intro .icons a:hover{
	color: #CCC;
}

#intro .icons a:active{
	color: #B3B3B3;
}

#resume{
	font-size: .3em;
}

#skills{
	padding: 40px 0;
	color: #424743;
	background: #fff;
}

#skills li{
	background: #A9E2AD;
	font-size: 1.5em;
	margin: 5px 2px;
	padding: 5px 10px;
	border-radius: 3px;
}

#projectsIntro{
	background-color: #4CAF50;
	color: #fff;
	margin-bottom: 30px;
	padding: 20px 0;
	font-size: 1.1em;
}

#projectsIntro h1{
	margin: 15px 0;
}

.project{
	margin-bottom: 30px;
	background-color: white;
	font-size: 1.1em;
	color: #424743;
}

.project img{
	  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
	  /*box-shadow: 2px 2px 7px rgba(66, 71, 67, 0.75);*/
}

.project a{
	color: #B44E86;
	text-decoration: underline
}

.skillShowcase li{
	background: #A9E2AD;
	font-size: 1em;
	margin: 5px 2px;
	padding: 5px 10px;
	border-radius: 3px;
}

#contact{
	padding: 20px 0;
	border-top: 5px solid #4CAF50 ;
}

#contact img{
	margin-top: -9px;
	display: inline;
	background-color: #B44E86;
	width: 37px;
	height: 37px;
}

#contact img:hover{
	background-color: #923F6D;
}

#contact img:active{
	background-color: #81375F;
}

#email{
	font-size: 1.5em;
	margin-bottom: 20px;
}

#contact a{
	color: #B44E86;
}

#contact a:hover{
	color: #923F6D;
}

#contact a:active{
	color: #81375F;
}


footer {
   background-color:#4CAF50;
   min-height: 50px;
   text-align: center;
}


@media only screen and (max-width: 991px) {
	h2{
		margin-bottom: 20px;
	}
	img{
		margin-bottom: 15px;
	}
	#intro img{
		margin-top: 0;
	}
}